.container {
  margin: 30px 0px 0px 300px;
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
  background-color: #ff0000;
  padding: 10px;
}

.btn-close {
  float: right;
  padding-right: 10px;
}
input {
  margin: 10px 0 10px 0;
}
